GOOGLE_API_KEY=AI************************************
# 또는 GEMINI_API_KEY=AI************************************
BUILDING_OPEN_API_KEY_ENCODING=************************************
BUILDING_OPEN_API_KEY_DECODING=************************************
GEO_CODING_API_KEY=************************************
